<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="AW2017Local"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=AdventureWorks2017;Integrated Security=True;" />
    <add name="ScratchDBLocal"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=ScratchDB;Integrated Security=True;" />
    <add name="TSQL2012Local"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=TSQL2012;Integrated Security=True;" />
  </connectionStrings>

</configuration>